
__pycache__
node_modules
node_modules/
node_modules/*
/node_modules
/node_modules/
.vscode
.vscode/
.reference
.reference/
env
.env
users/htmlcov/
services/users/htmlcov/
XDG_CACHE_HOME/*
dockerstatus.txt
.jest
.vscode
.jest/
.vscode/
yarn-error.log
