__pycache__
env
users/htmlcov/
.env
XDG_CACHE_HOME/*
!services/users/requirements.txt
ansible
ansible/*
cypress/snapshots/
cypress/snapshots/*
terraform
terraform/
terraform/*
/terraform/*
terraform/**/*/
/terraform/**/*/

node_modules
node_modules/
node_modules/*
/node_modules
/node_modules/
.vscode
.vscode/
.reference
.reference/
